html {
    scroll-behavior: smooth;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #141414;
}

/* Container Styling */
.container {
    margin-top: 27vh;
    text-align: center;
}

/* Main Heading Styling */
.main-heading {
    font-size: 3.5rem;
    line-height: 1.3;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: -1rem;
}

/* Subtext Styling */
.subtext{
    font-size: 1.5rem;
    color: #8C8C8C;
    letter-spacing: 0.05em;
    font-weight: 400;
}

/* Header Styling with transition */
.site-header {
    position: fixed;
    top: 6vh;
    left: 4vw;
    right: 4vw;
    background: transparent;
    padding: 1.5vh 3vw;
    box-sizing: border-box;
    display: flex;
    z-index: 1000;
    border-radius: 0 1.5vw 1.5vw 0;
    transition: background-color 0.3s ease-in-out, top 0.3s ease-in-out;
}

/* Add a class for hiding the header */
.header-hidden {
    top: -100px; /* Adjust based on header height */
}

/* Transparent Header Styling */
.header-transparent {
    background-color: transparent;
    box-shadow: none;
}

/* Logo Styling */
.logo {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.logo-image {
    width: 4rem;
    height: 4rem;
    margin-top: -1rem;
    border-radius: 50%;
    margin-right: 1.5rem;
    margin-left: 1rem;
    object-fit: cover;
}

/* Menu Toggle Button Styling */
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 4vw;
    z-index: 1001; 
    transition: all 0.3s ease-in-out; 
}

.menu-toggle .bar {
    height: 0.25rem;
    background-color: white;
    border-radius: 0.125rem;
    transition: all 0.3s ease-in-out;
}

/* Hover Effect on Menu Toggle Button */
/* Move the first bar up */
.menu-toggle:hover .bar:nth-child(1) {
    transform: translateY(-0.1rem); 
}

/* Move the third bar down */
.menu-toggle:hover .bar:nth-child(3) {
    transform: translateY(0.1rem); 
}

/* Menu Toggle Open State */
.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(0.41rem, 0.47rem);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(0.41rem, -0.47rem);
}

/* Menu Window Styling */
.menu-window {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

/* Menu Window Open State */
.menu-window.open {
    left: 0;
}

/* Menu Image Styling */
.menu-image {
    width: 50%;
    background-color: #333;
    overflow: hidden;
}

.menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-toggle:hover .bar {
    background-color: #1E90FF;
}

/* Menu Buttons Styling */
.menu-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #141414;
    padding: 2rem;
    position: relative;
}
.menu-link {
    color: white;
    font-size: 2rem; 
    margin: 1.5rem 0; 
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center; 
    transition: color 0.3s;
    position: relative;
    padding-left: 2.5rem;
}

/* Pseudo-element for Subscript Numbers */
.menu-link::before {
    content: attr(data-number);
    font-size: 1rem; 
    font-weight: 400; 
    color: #8C8C8C; 
    position: absolute;
    left: -2rem; 
    top: 50%;
    transform: translateY(-50%); 
}

.menu-link::after {
    content: '';
    position: absolute;
    left: -2rem;
    top: 80%;
    width: 1.3rem;
    height: 0.1rem;
    background-color: #8C8C8C;
    transform: translateY(-50%);
}

/* Hide Rectangle Bar for 'Luke Zhuang' Link */
.no-bar::after {
    display: none;
}

.menu-link:hover {
    color: #1E90FF; /* Blue color for hover effect */
    transform: scale(1.025); /* Slightly enlarge the button on hover */
}

/* Hidden Class for Elements */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
}

.About{
    position: relative;
    margin-left: 32rem;
    margin-top: 12rem;
    color: rgba(255, 255, 255, 0.15);
    font-size: 11rem;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 800;
    z-index: -1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin-bottom: 0.5rem; /* Reduced margin to bring text closer */
}

/* About Image Styling */
.about-image {
    width: 15rem; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 2rem; /* Space between image and text */
    border-radius: 10px; /* Optional: Add rounded corners to the image */
    object-fit: cover; /* Ensure the image covers its container */
}

/* About Text Styling */
.about-text {
    position: relative;
}

.about-text .subtext2 {
    margin-bottom: 11.5rem;
    margin-left: 5.75rem;
}

/* Subtext Styling */
.subtext2{
    bottom: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    position: absolute;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-bottom: 11.5rem;
    margin-left: 5.75rem;
    text-transform: none;
}

.about-description {
    margin-top: -2.75rem; /* Space above the paragraph */
    font-size: 1.2rem; /* Adjust font size as needed */
    margin-left: 5.75rem; /* Align with other content */
    color: #8c8c8c;
    text-align: left;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional for a subtle shadow effect */
    text-transform: none;
    line-height: 1.5; /* Improve readability by adjusting line height */
    padding-right: 2rem; /* Ensure text does not touch the edge of the container */
}

/* Resume Link Styling */
.resume-link {
    color: #1E90FF; /* Blue color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.resume-link:hover {
    color: #4A90E2; /* Slightly lighter blue on hover */
    text-decoration: underline;
}

/* Additional styling for the icons */
.social-icons {
    margin-top: 12px;
    margin-left: 18rem;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none; /* Remove underline */
}

/* Updated icon styling */
.social-icons i {
    font-size: 40px; /* Adjust icon size as needed */
    color: #1E90FF;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Optional hover effect */
.social-icons a:hover i {
    color: white; /* Slightly darker blue on hover */
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the background circular */
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

.icon-container i {
    font-size: 24px; /* Adjust icon size as needed */
    color: #1B76D2; /* Icon color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icon-container:hover {
    transform: scale(1.1); /* Scale up the icon on hover */
    color: #1E90FF; /* Optional: Change icon color on hover */
}

.contact-text {
    margin-top: 2rem;
    text-align: center; /* Center the text horizontally */
    font-size: 1.25rem; /* Adjust font size as needed */
    color: white; /* Set text color */
    margin-left: 16.25rem;
}

.contact-info {
    margin-left: 22rem;
    font-size: 18px; /* Adjust font size as needed */
    margin-top: 0px; /* Space between "Contact me here!" and the contact details */
    padding-bottom: 10rem;
}

.contact-label {
    color: #8c8c8c; /* Color for "Email:" and "Phone:" */
}

.contact-detail {
    color: #1E90FF; /* Blue color for links */
    text-decoration: none; /* Remove underline from links */
    font-weight: 400; /* Optional: Adjust font weight */
}

.contact-detail:hover {
    text-decoration: underline; /* Add underline on hover */
}

.about-image {
    position: absolute; /* Position the image absolutely */
    top: 110vh;
    left: 13%; /* Adjust the left position as needed */
    display: block;
    margin: 0; /* Remove default margin since position is absolute */
    max-width: 80%; /* Adjust width as needed */
    max-height: 50vh; /* Adjust height as needed */
    width: auto; /* Allow width to adjust while maintaining aspect ratio */
    height: auto; /* Allow height to adjust while maintaining aspect ratio */
    border: 2px solid #ddd; /* Light border color */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
    z-index: -1; /* Place the image behind other elements */
}


/* Create a smaller space between email and phone */
.small-space {
    display: block;
    height: 7.5px; /* Adjust the height to make the space smaller */
    width: 100%; /* Ensures it takes the full width of the container */
}

/* Example progress bar CSS */
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 9999; /* Ensure it's on top of other content */
}

.progress-bar {
    height: 100%;
    background: #007bff;
    width: 0%; /* Start with 0 width */
    transition: width 0.1s ease;
}


@keyframes colorChange {
    0% { color: #ff6f61; }
    50% { color: #d500f9; }
    100% { color: #ff6f61; }
}

/* Keyframes for typewriter effect */
@keyframes typewriter {
    from { width: 0;}
    to {width: 98%;}}

/* Keyframes for blinking cursor effect */
@keyframes blink {
    0% {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid #ffffff;
    }
    100% {
        border-right: 2px solid transparent;
    }
}

@keyframes cutInHalf {
    0% {
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
    }
    50% {
        transform: translateY(-50%);
        clip-path: inset(0 0 50% 0);
    }
    100% {
        transform: translateY(-100%);
        clip-path: inset(0 0 100% 0);
    }
}

/* Apply typewriter effect to h2 */
h2 {
    overflow: hidden; /* Ensures the text stays within the element */
    white-space: nowrap; /* Prevents text from wrapping */
    border-right: 2px solid #ffffff; /* Creates a cursor effect */
    animation: typewriter 3s steps(40, end) forwards, 
               blink 0.75s step-end infinite, 
               colorChange 5s linear infinite, 
               cutInHalf 1s 5s forwards; /* Fade-out effect */
    font-size: 2rem;
    color: #ffffff;
    display: inline-block; /* Keeps the h2 element from stretching to full width */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add depth with shadow */
}
