/* Body Styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", Arial, sans-serif;
    background-color: #141414;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.1) 20%,
        rgba(255, 255, 255, 0) 80%
    );
    opacity: 0.2;
    z-index: -1; /* Place behind all other content */
}

/* Container Styling */
.container {
    margin-top: 27vh;
    text-align: center;
}

/* Main Heading Styling */
.main-heading {
    font-size: 3.5rem;
    line-height: 1.3;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 700;
}

/* Subtext Styling */
.subtext{
    font-size: 1.5rem;
    color: #8C8C8C;
    letter-spacing: 0.05em;
    font-weight: 400;
}

/* Header Styling with transition */
.site-header {
    position: fixed;
    top: 6vh;
    left: 4vw;
    right: 4vw;
    background: transparent;
    padding: 1.5vh 3vw;
    box-sizing: border-box;
    display: flex;
    z-index: 1000;
    border-radius: 0 1.5vw 1.5vw 0;
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

/* Transparent Header Styling */
.header-transparent {
    background-color: transparent;
    box-shadow: none; /* Optional: remove shadow if any */
}

/* Logo Styling */
.logo {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.logo-image {
    width: 4rem;
    height: 4rem;
    margin-top: -1rem;
    border-radius: 50%;
    margin-right: 1.5rem;
    object-fit: cover;
}

/* Menu Toggle Button Styling */
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 4vw;
    z-index: 1001; /* Ensures it stays on top */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.menu-toggle .bar {
    height: 0.25rem;
    background-color: white;
    border-radius: 0.125rem;
    transition: all 0.3s ease-in-out;
}

/* Hover Effect on Menu Toggle Button */
.menu-toggle:hover .bar:nth-child(1) {
    transform: translateY(-0.2rem); /* Move the first bar up */
}

.menu-toggle:hover .bar:nth-child(3) {
    transform: translateY(0.2rem); /* Move the third bar down */
}


/* Menu Toggle Open State */
.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(0.41rem, 0.47rem);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(0.41rem, -0.47rem);
}

/* Menu Window Styling */
.menu-window {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

/* Menu Window Open State */
.menu-window.open {
    left: 0;
}

/* Menu Image Styling */
.menu-image {
    width: 50%;
    background-color: #333;
    overflow: hidden;
}

.menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Menu Buttons Styling */
.menu-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    background-color: #141414;
    padding: 2rem;
    position: relative; /* Needed for the relative positioning of ::before elements */
}
.menu-link {
    color: white;
    font-size: 2rem; /* Increased font size for larger text */
    margin: 1.5rem 0; /* Increased margin for more spacing */
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center; /* Centers text */
    transition: color 0.3s;
    position: relative; /* Establishes a positioning context for pseudo-element */
    padding-left: 2.5rem; /* Adds space for the subscript number */
}

/* Pseudo-element for Subscript Numbers */
.menu-link::before {
    content: attr(data-number); /* Use the data-number attribute to set the number */
    font-size: 1rem; /* Smaller font size for subscript */
    font-weight: 400; /* Lighter weight for numbers */
    color: #8C8C8C; /* Subtle color for subscript */
    position: absolute;
    left: -2rem; /* Adjusted position to the left of the text */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

.menu-link::after {
    content: ''; /* Empty content for the bar */
    position: absolute;
    left: -2rem; /* Align with subscript number */
    top: 80%; /* Slightly below the subscript number */
    width: 1.3rem; /* Width of the rectangle bar */
    height: 0.1rem; /* Height of the rectangle bar */
    background-color: #8C8C8C; /* Color of the rectangle bar */
    transform: translateY(-50%); /* Center vertically */
}

/* Hide Rectangle Bar for 'Luke Zhuang' Link */
.no-bar::after {
    display: none; /* Hide the rectangle bar */
}

.menu-link:hover {
    color: #1E90FF; /* Blue color for hover effect */
}

/* Hidden Class for Elements */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
}
